/* Site Wide Styling */
body {
    margin: 0%;
}

    /* Header/Navbar */
header {
    background-color: #E0E1FF;
    max-height: 20vh;
    width: 100%;
}
main {
    margin: 3%;
    margin-top: 1%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.navbar{
    justify-self: start;
    display: flex;
    flex-direction: row;
}

@media (max-width: 650px) {
    .navbar {
        flex-direction: column;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

h1 {
    justify-self: center;
}

.cart-icon{
    margin: 1.5rem;
    justify-self: end;
}

nav ul {
    list-style: none;
    padding-left: 1rem;
}

    /* Footer, would like to figure out fixing it to bottom of the page */
footer {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    text-align: center;
    margin-top: auto;
    clear: left;
}

    /* Site-wide font styling */
h2 {
    font-family: "tomarik-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2d2e73;
    font-size:x-large;
    text-align: center;
}

h3 {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2d2e73;
    text-align: center;
}

h6 {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2d2e73;
    margin: 0%;
}

li {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #2d2e73;
    margin-right: 1rem;
    text-align: center;
    font-size: large;
}

p {
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2d2e73;
    text-align: center;
}


/* Home Page */
@media screen and (min-width: 650px){
    #home-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        column-gap: 1em;
    }

    #home-main img {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #home-main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    #home-main img {
        width: 90vw;
    }
}


/* Shop Page */
@media screen and (min-width: 650px){
    #shop-main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        row-gap: 5%;
        column-gap: 5%;
        margin-bottom: 15%;
    }
    #shop-main img {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #shop-main {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 1%;
    }

    #shop-main img {
        width: 100%;
    }
}

/* Product Pages */
@media screen and (min-width: 650px){
    .product-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: start;
        row-gap: 5%;
        column-gap: 5%;
    }

    .product-images {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2em;
        height: 90vh;
        overflow: auto;
    }
    .product-images img {
        width: 100%;
    }
    .product-details {
        display: grid;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
        align-self: start;
        row-gap: 5%;
        column-gap: 5%;
    }

    .add-to-cart {
        display: flex;
        justify-content: space-around;
        column-gap: 1em;
    }
}

@media screen and (max-width: 650px) {
    .product-images {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        row-gap: 1em;
        height: 60vh;
        overflow: auto;
    }

    .product-images img {
        width: 100%;
    }

    .product-details {
        display: grid;
        grid-template-rows: repeat(3, auto);
        justify-items: center;
    }

    .add-to-cart {
        display: flex;
        justify-content: space-around;
        column-gap: 1em;
    }
}

/* About Page */
.creator-photo {
    float: left;
    margin: 1em;
    width: 30vw;
}

/* Individual Product Page */
.product-main {
    width: 40vw;
}